[submodule "shared"]
	path = shared
	url = https://github.com/enkunove/asoptimus-shared.git
[submodule "server"]
	path = server
	url = https://github.com/enkunove/asoptimus-server.git
[submodule "client"]
	path = client
	url = https://github.com/enkunove/asoptimus-client.git
[submodule "landing"]
	path = landing
	url = https://github.com/enkunove/asoptimus-landing.git
